body {
    font-family: "Arial", sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    color: #333;
}

button {
    background-color: #0090c9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #015f72;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddddddfb;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2fb;
}

tr:nth-child(even) {
    background-color: #f9f9f9f6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f2f2f2fb;
}
